<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="connexion.component.css">
    <title>SPF-UTA</title>
</head>
<body>
    <div class="Tout">
        <div class="image">
            <img src="image/logo.jpeg" alt="">
             <h1>SE CONNECTER  💻</h1>
        </div>

        <div class="Premier">
            <div>
                <h3>CONNEXION</h3> 
            </div>
            <form action="#" name="formulaire">
                <div class="B">

                    Email  <br>
                    <input type="mail" id="c" value="" required=""><br>
                    <br>

                    Mot de Passe  <br>
                    <input type="password" id="f" value="" required=""> <br>
                </div><br>
                <div class="C">
                    <input type="submit" onclick="Yann()" value="Connexion">
                </div>

            </form>
        </div>

    </div>


    
</body>
</html>
