<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="inscription.component.css">
    <title>SPF-UTA</title>
</head>
<body>
    <div class="Premier">
        <div>
            <h3>INSCRIPTION</h3> 
        </div>
        <div>
            <form action="#" name="formulaire">
                <div class="B">
                    Nom  <br>
                    <input type="text" id="a" value="" required=""><br>
                    <br>
                    Prénom  <br>
                    <input type="text" id="b" value="" required=""><br>
                    <br>
                    Email  <br>
                    <input type="mail" id="c" value="" required=""><br>
                    <br>
                    Adresse  <br>
                    <input type="text" id="d" value="" class="Date" required=""> <br>
                    <br>
                    Contact  <br>
                    <input type="text" id="e" value="" required=""><br> 
                    <br>
                    Mot de Passe  <br>
                    <input type="password" id="f" value="" required=""> <br>
                </div><br>
                <div class="C">
                    <input type="submit" onclick="Yann()" value="Envoyer">
                </div>

            </form>
        </div>
    </div>


    
</body>
</html>