<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="fichier.component.css">
    <title>SPF-UTA</title>
</head>
<body>
    <div class="Tout">
        <div class="image">
            <img src="image/logo.jpeg" alt="">
             <h1>AJOUTER UN FICHIER 💻</h1>
        </div>

        <div class="Premier">
            <div>
                <h3>NOUVEAU FICHIER</h3> 
            </div>
            <form>
                <div class="B">
                    Niveau  <br>
                    <select name="niveau" id="">
                        <option value="L1">Licence-1</option>
                        <option value="L2">Licence-2</option>
                        <option value="L3">Licence-3</option>
                    </select> <br>
                    <br>
                    Filière  <br>
                    <select name="filiere" id="">
                        <option value="IGL">IGL</option>
                        <option value="FBA">FBA</option>
                        <option value="RIT">RIT</option>
                        <option value="PFC">PFC</option>
                        <option value="RIT">PFC</option>
                        <option value="DROIT">DROIT</option>

                    </select> <br>
                    <br>
                    Fichier  <br>
                    <input type="file" name="file" value="" required=""><br>
                    <br>
                </div><br>
                <div class="C">
                    <input type="submit" onclick="Yann()" value="Ajouter">
                </div>
            </form>
        </div>

    </div>


    
</body>
</html>